node_modules/
**/node_modules/
.next/
.vercel/
out/
.env
.env.*.local
.env.local

# Next.js
.next-static/
.next-turbo/


# Env & local config
*.local

# Logs & OS junk
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
.DS_Store
Thumbs.db

# Editor stuff
.vscode/
.idea/
*.swp
